.footer {
    margin-top: 50px;
    padding-top: 30px;
    border-top: 1px solid #eee;

    @media only screen and (max-width: 920px) {
        margin-top: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .nav-tabs{
        max-width: 400px;
        margin-left: auto;

        @media only screen and (max-width: 920px) {
            margin-left: 0;
            align-items: flex-start;
        }
        
        .nav-item {
            background-color: $color-white;
            flex-basis: auto;
    
            .nav-link{
                color: $color-secondary;
                font-size: 15px;
                line-height: 22px;
                @media only screen and (max-width: 920px) {
                    margin-bottom: 15px;

                    &::before{
                        content: none ;
                    }
        
                }

                &::after{
                    content: none;                    
                }

                &:hover{
                    color: $color-primary;
                }
            }
        }
    }
}