.footer {
    margin-top: 50px;
    padding-top: 30px;
    border-top: 1px solid #eee;

    .nav-tabs{
        flex-basis: 400px;
        .nav-item {
            background-color: $color-white;
    
            .nav-link{
                color: $color-secondary;

                &::after{
                    content: none;
                }

                &:hover{
                    color: $color-primary;
                }
            }
        }
    }
}