.information{
    background-image: url(../img/information.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 120px;
    padding-bottom: 200px;
    border-radius: 0px 0px 90px 90px;
}