body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-grey-dark;
}

.text-color-primary{
    color: $color-primary;
}

.text-color-secondary{
    color: $color-secondary;
}

.text-color-black{
    color: $color-black;
}


.heading{
    font-family: 'Questrial', sans-serif;
}


.h1-heading {
    font-size: 54px;
    line-height: 74px;
    letter-spacing: -0.02em;

    @media only screen and (max-width: 480px){
        font-size: 36px;
        line-height: 38px;
        margin-top: 35px;
    }
}

.h1-big{
    font-family: Questrial;
    font-size: 54px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.02em;
    color:  $color-grey-dark;

    @media only screen and (max-width: 480px){
        font-size: 36px;
        line-height: 38px;
    }
}

.h2-new-20 {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.h2-label-20 {
    font-weight: bold;
    font-size: 20px;
    line-height: 42px;

    @media only screen and (max-width: 480px){
        font-size: 18px;
        line-height: 24px;
    }
}

.p-main-15 {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px; 
    color: $color-black;
}

.border-full{
    border-bottom: 1px solid #EFEFEF;
    // padding-bottom: 28px;
}

.title-tab{
    font-family: Questrial;
    font-size: 24px;
    line-height: 24px;
    text-align: center;


    @media only screen and (max-width: 920px){
        padding: 0 $paddingX;
        text-align: left;
    }

    @media only screen and (max-width: 480px){
        font-size: 22px;
        line-height: 24px;
        padding: 0 15px;

    }


}

.line{
    &-mobile{
        display: none;
    
        @media (max-width: 480px) {
            display: block;
        }
    }

    &-flex-lg{
        display: flex;

        @media (max-width: 768px) {
            display: none;
        }
    }
}
