.home{
    background-color: $color-primary;
    padding-top: calc(120px + #{$height});
    position: relative;
    overflow: hidden;
    // padding-bottom: $bottom-home;

    // height: calc(100vh - #{$height});
    border-radius: 0px 0px 30px 30px;

    @media (max-width: 921px) {
        padding-top: calc(60px + #{$height});

    }

    &__header {
        position: absolute;
        top: calc(120px + #{$height});
        left: $paddingX;
        z-index: 2;
        color: #fff;
        max-width: 600px;
        font-family: 'Questrial', sans-serif;

        @media (max-width: 921px) {
            position: relative;
            top: 0;
            left: 0;
        }
    }

    &__background--top{
        position: absolute;
        top: 0;

        @media (max-width: 921px) {
           width: 50%;
        }

        @media (max-width: 480px) {
            width: 100%;
            left: -30%;
        }
    }

    &__background--map{
        @media (max-width: 921px) {
           width: 80%;
        }
    }

    figcaption{
        border-bottom: 1px solid $color-white;
    }
}